html{
  font-size: 62.5%; /* 16px * 62.5 = 10px = 1rem */
  box-sizing: border-box;
}
body{
  font: 1.6rem Helvetica;
  height: 250vh;
  margin: 0;
 /* background-color: #f8f6fc; */
}

button{
  font-size: 1.6rem;
  color: #000000;
}

.full-width {
  width: 100%;
}

#root {
  height: 100%;
}
.grid-container{
  display: grid;
  grid-template-areas: 
  "header"
  "main"
  "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
.header{
  grid-area: header;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
.brand a{
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold;
  text-decoration: none;
}
.header-links a{
  color:#ffffff;
  text-decoration: none;
  padding: 1rem;

}
.header-links a:hover{
  color:#ff8000;
}
.main{
  grid-area: main;
}

.welcome {
  height: 25rem;
  background-image: url("./background-for-site.jpg");
  opacity: 0.9; 
  display: flex;
}

#desc {
  color:#ffffff;
  font-family: Helvetica;
  padding: 1rem;
  align-items: center;
  font-weight: bold;
  display: flex;
  margin: auto;
  font-size: 3rem;
}

#desc #minidesc {
 font-size: 1.3rem;
}

.allservices {
  margin: 5.5%;
  display: inline-block;
  position: absolute;
  top: 300px;
}

/*.footer{
  grid-area: footer;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  justify-content: center;
}

.footer .footer-bottom {
  justify-content: center;
  text-align: center;
} */

a{
  text-decoration: none;
}
a:hover{
  color:#ff8000
}
/* Beat Store  */
.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
}
.products li {
  list-style-type: none;
  padding: 0;
  flex: 0 1 34rem;
  margin: 1rem;
  height: 15rem;
  border-bottom: .01rem #c0c0c0 solid;
}
.product{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
}
.product-name{
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  color: #570757;
}
.product-artist{
  font-size: 1.2rem;
  color:#808080;
}
.product-price{
  font-size: 2rem;
  font-weight: bold;
}
.product-image{
  max-width: 10rem;
  max-height: 10rem;
  transition: 1s;
}

.product-image:hover {
  transform: scale(1.9);
}

.brand-logo {
  max-height: 5rem;
  max-width: 4rem;
}

/* Sidebar */

.brand button {
  font-size: 3rem;
  padding: .5rem;
  background: none;
  border: none;
  color:#ffffff;
  cursor: pointer;
}
.sidebar{
  position: fixed;
  transition: all .5sec;
  transform: translateX(-30rem);
  width: 30rem;
  background-color: #cacdf0;
  height: 100%;
}
.sidebar.open{
  transform: translateX(0);
}

.sidebar-close-button{
  border-radius: 50%;
  border: .1rem #000000 solid;
  width: 3rem;
  height: 3rem;
  padding: .5rem;
  font-size: 2rem;
  padding-top: 0;
  cursor: pointer;
  position: absolute;
  right: .5rem;
  top: 1.5rem
}


/* Product Details */
.details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 1rem;
  padding: 15rem;
  height: 150%;
}
.details-image {
  flex: 2 1 60rem;
}
.details-image img {
  max-width: 40rem;
  width: 100%;
}
.details-info {
  flex: 1 1 30rem;
}
.details-action {
  flex: 1 1 30rem;
}

.details-info ul,
.details-action ul {
  list-style-type: none;
  padding: 0;
}
.details-info li,
.details-action li {
  margin-bottom: 1rem;
}
.back-to-home {
  padding: 1rem;
}
.details-action {
  border: 0.1rem #808080 solid;
  border-radius: 0.5rem;
  background-color: #f8f8f8;
  padding: 1rem;
}
.details-action ul li:last-child {
  display: flex;
  flex-direction: column;
}
.button {
  padding: 1rem;
  border: 0.1rem #808080 solid;
  border-radius: 0.5rem;
  cursor: pointer;
}
.button:hover {
  border: 0.1rem #404040 solid;
}
.button.primary {
  background-color: #968ac9;
}
.button.secondary {
  background-color: #f0f0f0;
}
.text-center {
  text-align: center;
}

.cart {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  align-items: flex-start;
}
.cart-list {
  flex: 3 1 60rem;
}
.cart-action {
  flex: 1 1 20rem;
  background-color: #f0f0f0;
  border-radius: 0.5rem;
  padding: 1rem;
}
.cart-list-container {
  padding: 0;
  list-style-type: none;
  padding: 1rem;
}
.cart-list-container li {
  display: flex;
  justify-content: space-between;

  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 0.1rem #c0c0c0 solid;
}
.cart-list-container li img {
  max-width: 10rem;
  max-height: 10rem;
}
.cart-list-container li:first-child {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.cart-image {
  flex: 1 1;
}
.cart-name {
  flex: 8 1;
}
.cart-price {
  flex: 1 1;
  font-size: 2.5rem;
  text-align: right;
}


/* forms */

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.contact-us {
  margin: 1rem;
  margin-top: 3rem;
  height: 80%;
}

.about {
  background-image: url('/images/background-for-site2.jpg');
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.about-us {
  height: 70%;
  align-items: center;
}

.about-logo {
 /* background-image: url('/Thessian-Sound-logo.png'); */
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
}

.about-logo   {
  background-blend-mode: hue;
}

.about-brand {
  color: #fff;
}

.about-container {
  align-self: center;
  display: flex;
  width: 32rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  list-style-type: none;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 32rem;
  padding: 2rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  list-style-type: none;
}

.form-container li {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
input {
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
}


/* Products */

.product-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content-margined {
  margin: 1rem;
}

.table {
  width: 100%;
}
th {
  text-align: left;
}
tbody > tr:nth-child(odd) {
  background-color: #f0f0f0;
}

.pricing img {
  display: flex;
  position: relative;
  margin: 2rem;
  justify-content: center;
}

/* Checkout Steps */

.checkout-steps {
  display: flex;
  justify-content: space-between;
  width: 40rem;
  margin: 1rem auto;
}
.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1 1;
  padding-top: 1rem;
}
.checkout-steps > div.active {
  border-top: 0.3rem #f08000 solid;
  color: #f08000;
}

/* Place Order */

.placeorder {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  justify-content: space-between;
}
.placeorder-info {
  flex: 3 1 60rem;
}
.placeorder-action {
  flex: 1 1 20rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  background-color: #fcfcfc;
  padding: 1rem;
}
.placeorder-info > div {
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  background-color: #fcfcfc;
  padding: 1rem;
  margin: 1rem;
}
.placeorder-info > div:first-child {
  margin-top: 0;
}
.placeorder-action > ul {
  padding: 0;
  list-style-type: none;
}
.placeorder-action > ul > li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.placeorder-action > ul > li:last-child {
  font-size: 2rem;
  font-weight: bold;
  color: #c04000;
}
.placeorder-actions-payment > div {
  width: 100%;
}


/* Profile */

.profile {
  display: flex;
  flex-wrap: wrap;
}

.profile-info {
  flex: 1 1 30rem;
}
.profile-orders {
  flex: 3 1 60rem;
}

/* admin */
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  padding: 1rem;
  list-style-type: none;
  z-index: 1;
  background-color: #203040;
  margin: 0;
  margin-top: 0.4rem;
}
.dropdown:hover .dropdown-content {
  display: block;
}

/* filter */

.filter {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 1rem auto;
  max-width: 45rem;
  justify-content: space-between;
  align-items: center;
}
.filter input,
.filter button,
.filter select {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #c0c0c0 solid;
  font-size: 1.6rem;
}
.categories {
  padding: 0;
  list-style-type: none;
}
.categories a {
  display: flex;
  padding: 1rem;
}

.categories a:hover {
  background-color: #c0c0c0;
}

@media screen and (max-width: 960px) {

  .pricing img {
    display: flex;
    position: relative;
    margin: 2rem;
    justify-content: center;
    max-width: 50rem;
    max-height: 50rem;
  }
}